---
title: About Project_11
---

<!-- Add your site or application content here -->
<ul>
<header>
	<div class="about">
	<h1>About</h1>
	</div>
</header>
<style>
  body {background-color: #D4BF94}
  a:link    {color:#5B7314; background-color:transparent; text-decoration:none}
  a:visited {color:#5B7314; background-color:transparent; text-decoration:none}
  a:hover   {color:#7A991A; background-color:transparent; text-decoration:none}
  a:active  {color:#7A991A; background-color:transparent; text-decoration:underline}
</style>
  	<a href="/" title="Back to the Home page"><b>HOME</b></a>
<br />
<br />
		<% ["contents", "resources"].each do |word| %>
			<a href="http://localhost:4567/addlpage/<%=word%>.html">
				<%= word.capitalize %>
					</a>
		<p> 
	<% end %>
<hr />
</header>

<body>
<h3>What do you want to know (about)?</h3>
<p>I have lived in Florida most of my life. I decided when I was 12, this was the place for me.  I love warm sun, sand and surf, hence the video.  </p>
</ul>
<ul>
	<iframe width="480" height="300" src="//www.youtube.com/embed/c2-e7Z1LEL8" frameborder="0" allowfullscreen></iframe>
<br />
<br />
<br />
<p>To find out more about what's behind this homework project, checkout the link below:
<br />
<p>Academy information: <a href="http://theironyard.com/locations/orlando/">The Iron Yard-Orlando Campus</a></p>
<br />
<hr />
<a href="/" title="Back to the Home page"><b>HOME</b></a> | <a href="#" title="To the top of this page"><b>BACK TO TOP</b></a>
<br />
<footer>
<%= partial "footer1", locals: {classes: "TheIronYard"} %>
</footer>

</body>