---
title: Resources
---

<!-- Add your site or application content here -->
<ul>
<header>
	<div class="resources">
	<h1>Resources</h1>
	</div>
</header>
<style>
  body {background-color: #D4BF94}
  a:link    {color:#5B7314; background-color:transparent; text-decoration:none}
  a:visited {color:#5B7314; background-color:transparent; text-decoration:none}
  a:hover   {color:#7A991A; background-color:transparent; text-decoration:none}
  a:active  {color:#7A991A; background-color:transparent; text-decoration:underline}
</style>
    <a href="/" title="Back to the Home page"><b>HOME</b></a>
<br />
<br />
    <% ["contents", "about"].each do |word| %>
			<a href="http://localhost:4567/addlpage/<%=word%>.html">
				<%= word.capitalize %>
					</a>
		<p> 
	<% end %>
<hr />
<body>
<br />
<h3>Helpful Ruby sites</h3>

<ul>
    <li><a href="http://learnrubythehardway.org/book/" target="_blank">Learn Ruby The Hard Way</a></li>
<br />
    <li><a href="https://pine.fm/LearnToProgram/" target="_blank">Learn to Program</a></li>
<br />
    <li><a href="http://mislav.uniqpath.com/poignant-guide/" target="_blank">Fun Ruby book -poignant-guide-</a></li>
</ul>
<br />
<h3>How about some helpful html sites?</h3>
<ul>
    <li><a href="http://www.w3schools.com/html/default.asp" target="_blank">w3schools.com (My favorite so far!)</a></li>
<br />
    <li><a href="http://htmldog.com/guides/html/beginner/links/" target="_blank">HTML Dog - tutorials</a></li>
</ul>
<br />
<h3>Looking for something not Ruby Nuby related?</h3>

<ul>
    <li><a href="http://cheezburger.com/8201989632" target="_blank">Kitty Ping Pong</a></li>
<br />
    
</ul>
<br />
<br />
<br />
<br />
<br />

</body>
<hr />
<a href="/" title="Back to the Home page"><b>HOME</b></a> | <a href="#" title="To the top of this page"><b>BACK TO TOP</b></a>
<br />
<footer>
<%= partial "footer1", locals: {classes: "TheIronYard"} %>
</footer>

