</ul>
<ul>
	<% [(2..10).to_a, "J", "Q", "K", "A"].flatten.each do |n| %>
		<% ["Clubs", "Diamonds", "Hearts", "Spades"].each do |suits| %>
			<li> 
				<img width="400 px" src="cardpics/<%= suits %>/<%= n %><%= suits[0] %>.svg" alt="Card">
			</li>
		<% end %>
	<% end %>
</ul>
